.box {
    width: 40%;
    margin-left:500px;
    margin-top:500px;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    margin-left: 400px;
    padding: 10px;
    color: #06D85F;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    color: white;
    background: #06D85F;
}



.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 90px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.81);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-left: 27px;
    margin-top: 0;
    color: #e3dada;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #0a0a0a;
}

.popup .close:hover {
    color: #06D85F;
}

input {
    background: rgba(16, 16, 16, 0.65);
    margin-left: -100px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
}

.popup .content {
    max-height: 30%;
    text-align: center;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}