.bttn-md {
    color: #1d89ff;
}

.bttn-danger {
    color: #ff5964;
}

.bttn-md {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-minimal {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-minimal:after {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background: currentColor;
    content: '';
    opacity: 0.65;
    -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-minimal:before {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background: currentColor;
    content: '';
    opacity: 0.65;
    -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-minimal:hover,
.bttn-minimal:focus {
    opacity: 0.9;
}

.bttn-minimal:hover:after,
.bttn-minimal:focus:after {
    opacity: 1;
    -webkit-transform: translateX(-10px) rotate(0.001deg);
    transform: translateX(-10px) rotate(0.001deg);
}

.bttn-minimal:hover:before,
.bttn-minimal:focus:before {
    opacity: 1;
    -webkit-transform: translateX(10px) rotate(0.001deg);
    transform: translateX(10px) rotate(0.001deg);
}

.bttn-minimal.bttn-md {
    font-size: 20px;
    font-family: inherit;
    padding: 5px 12px;
}

.bttn-minimal.bttn-lg {
    padding: 8px 15px;
    font-size: 24px;
    font-family: inherit;
}

.bttn-minimal.bttn-danger {
    color: #FF0042;
}